extends layout

block content
    h1 Blog
    button
        a(href="/user/sign-up") Sign Up
    button
        a(href="/user/log-in") Log In
    if user
        p Welcome #{user.username}
    else
        p Welcome!