extends layout

block content
    h1 Blog
    if user
        button 
            a(href="/user/log-out") Log Out
        p Welcome #{user.username}
    else
        p Welcome!
        button
            a(href="/user/sign-up") Sign Up
        button
            a(href="/user/log-in") Log In