extends layout

block content
    section(class="blog")
        if user
            nav(class="blog__nav")
                ul(class="blog__nav--list")
                    li 
                        a(href="/user/log-out") Log Out
                    li
                        a(href="/blog/posts") View Posts  
        else
            nav(class="blog__nav")    
                ul(class="blog__nav--list") 
                    li             
                        a(href="/user/sign-up") Sign Up
                    li
                        a(href="/user/log-in") Log In
                    li
                        a(href="/blog/posts") View Posts   
        h1(class="blog__title") Keffri's Blog
        if user
            p(class="blog__text") Welcome #{user.username}!
        else
            p(class="blog__text") Welcome!
        