extends layout

block content
    section(class="blog")
        if user
            nav(class="blog__nav")
                ul(class="blog__nav--list")
                    li 
                        a(href="/user/log-out") LOG OUT
                    li
                        a(href="/blog/posts") VIEW POSTS 
        else
            nav(class="blog__nav")    
                ul(class="blog__nav--list") 
                    li             
                        a(href="/user/sign-up") SIGN UP
                    li
                        a(href="/user/log-in") LOG IN
                    li
                        a(href="/blog/posts") VIEW POSTS   
        h1(class="blog__title") Keffri's Blog
        if user
            p(class="blog__text") Welcome #{user.username}!
        else
            p(class="blog__text") Welcome!
        